* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Helvetica ,'Arial Narrow' , Arial, sans-serif;
}

:root {
	--colmax: 21;
	--rowmax: 21;
	--colmaxreal_1: calc(var(--colmax) + 1);
	--colmaxreal_2: calc(var(--colmax) + 2);
	--colmaxreal_3: calc(var(--colmax) + 3);
	--navsz: 50px;
	--navszhover: 200px;
	--paddingli: 5px;
	--seemoresz: 50px;
	--hbhwidth_top: 30px;
	--hbhwidth_left: 30px;
	--hbhwidth_right: 30px;
	--hbhwidth_bot: 30px;
	--hbhwidth_ave: 30px;
	--hbhwidth_min: 10px;
	--hbhwidth_max: calc(var(--hbhwidth_ave) * 5);
	--highlightcolor: pink;
	--highlightcolor_font: black;
}

@media only screen and (max-width: 500px) {
	:root {
		--hbhwidth_max: calc(var(--hbhwidth_ave) * 2);
	}
}

/* nav part */
nav {
	position: relative;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

nav ul#nav {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: minmax(50px, auto) repeat(var(--colmax), 1fr) minmax(50px, auto);
	grid-template-rows: minmax(50px, auto) repeat(var(--rowmax), 1fr) minmax(50px, auto);
	grid-column: 1;
	grid-row: 2;
	width: 100vw;
	height: 100vh;
	transition: width 0.5s, height 0.5s;
	overflow: hidden;
}

nav ul#nav.show {
	width: calc(100vw - var(--seemoresz));
	height: calc(100vh - var(--seemoresz));
}
/* nav item seemore */
.seemore {
	background-color: white;
	transition: width 0.5s, height 0.5s;
	display: flex;
	overflow: hidden;
}

.seemore:nth-of-type(1) {
	height: 0;
}

.seemore:nth-of-type(2) {
	width: 0;
	height: 0;
}

.seemore:nth-of-type(3) {
	width: 0;
	flex-direction: column;
}

.seemore:nth-of-type(1).show {
	height: var(--seemoresz);
}

.seemore:nth-of-type(2).show {
	width: var(--seemoresz);
	height: var(--seemoresz);
}

.seemore:nth-of-type(3).show {
	width: var(--seemoresz);
}

/*seemore button settings */
.seemore button {
	background-color: mediumorchid;
	flex-grow: 1;
	border: 0;
	width: inherit;
	height: inherit;
}

.seemore button.click {
	border: 5px solid black;
}

.seemore:nth-of-type(3) button span {
	writing-mode: vertical-rl;
}

/* nav item part */
li {
	list-style-type: none;
	background-color: rgb(61, 235, 221);
	transition: width 0.5s, height 0.5s;
	padding: var(--paddingli);
	word-break: break-word;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
}

li.highlightsort {
	-webkit-animation: highlightsort 0.25s; 
	-moz-animation:    highlightsort 0.25s; 
	-o-animation:      highlightsort 0.25s;
	animation:         highlightsort 0.25s; 
	-webkit-animation-iteration-count: 5;
	-moz-animation-iteration-count: 5;
	-o-animation-iteration-count: 5;
	animation-iteration-count: 5;
}

@keyframes highlightsort {
	0%, 49% {
		background-color: white;
		color: black;
	}
	50%, 100% {
		background-color: var(--highlightcolor);
		color: var(--highlightcolor_font);
	}
}

/* li col and row */
li.col {
	height: var(--navsz);
	padding: 0 30px 0;
}

li.col:hover {
	height: var(--navszhover);
	padding: var(--paddingli);
}

li.row {
	width: var(--navsz);
	writing-mode: vertical-rl;
	padding: 30px 0 30px;
}

li.row:hover {
	width: var(--navszhover);
	writing-mode: horizontal-tb;
	padding: var(--paddingli);
}

li.left.row {
	border-radius: 50px 0 0 50px;
}

li.right.row {
	border-radius: 0 50px 50px 0;
}

li.top.col {
	border-radius: 50px 50px 0 0;
}

li.bot.col {
	border-radius: 0 0 50px 50px;
}

li.col:hover, li.row:hover {
	flex-direction: column;
	justify-content: stretch;
	gap: var(--paddingli);
	border-radius: 0;
}
/* div text */
li > div.text {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

li:hover > div.text {
	flex-direction: column;
}

li.left:hover > div.text {
	align-items: flex-start;
	text-align: left;
}

li.right:hover > div.text {
	align-items: flex-end;
	text-align: right;
}

li > div.text > :not(:first-child) {
	display: none;
	font-size: 12px;
}

li:hover > div.text > * {
	display: block;
}

/* div text date */
li > div.text > .date {
	margin-bottom: 10px;
}

span.field {
    display: inline-block;
	border: 1px solid black;
	border-radius: 50%;
	padding: 3px 10px;
	font-size: 12px;
	box-shadow: 5px 3px 7px 2px rgba(0,0,0,0.5);
}

/* div hovercontent */
li > div.hovercontent {
	width: 100%;
	height: 100%;
	display: none;
	background-color: white;
	border-radius: 5px;
	border: 5px double #000000;
}

li:hover > div.hovercontent {
	display: block;
}

li.left > div.hovercontent {
    direction: rtl;
}

li.col > div.hovercontent {
	overflow-y: auto;
	overflow-x: hidden;
}

li.row > div.hovercontent {
	overflow-x: auto;
	overflow-y: hidden;
}

li.col > div.hovercontent > img {
	width: 100%;
}

li.row > div.hovercontent > img {
	height: 100%;
}

/* li current and soon */
li.current div.text h2{
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

li.soon {
	background-color: yellow;
}

/* nav item button */
li.btn {
	padding: 0;
	background-color: white;
	position: relative;
	-webkit-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

li.btn div {
	position: absolute;
	font-size: 40px;
}

/* main part */
#main {
	z-index: 1;
	padding: 0;
	grid-column: 2 / var(--colmaxreal_2);
	grid-row: 2 / var(--colmaxreal_2);
	border-bottom: var(--hbhwidth_bot) solid rgb(34, 139, 131);
    border-left: var(--hbhwidth_left) solid rgb(39, 170, 159);
    border-right: var(--hbhwidth_right) solid rgb(39, 170, 159);
	border-top: var(--hbhwidth_top) solid rgb(49, 209, 196);
	transition: border-width 0.5s;
}

#main > * {
	height:100%;
	width:100%;
}

#main section#welcome {
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 2;
	display: block;
	padding: 5px;
	background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.475) 100%);
	background-color: rgb(255, 255, 255);
	overflow: auto;
}

#main section#welcome.close{
	display: none;
}

#main section#iframe {
	display: flex;
	flex-direction: row;
}

#main section#iframe iframe {
	display: block;
	background-color: black;
	border: none;
	height:100%;
	width:100%;
	transition: width 1s;
}

#main section#iframe iframe.hide{
	width: 0;
}

/* resume */
tbody {
	vertical-align: top;
}

td {
	padding-bottom: 10px;
	padding-right: 10px;
}

tr:last-child > td {
	padding-bottom: 0;
}

td:first-child {
	word-break: keep-all;
}
