:root {
	--colmax: 21;
	--rowmax: 21;
	--colmaxreal_1: calc(var(--colmax) + 1);
	--colmaxreal_2: calc(var(--colmax) + 2);
	--colmaxreal_3: calc(var(--colmax) + 3);
	--navsz: var(--navsz_sampl);
	--navsz_sampl: 50px;
	--navszhover: 200px;
	--paddingli: 8px;
	--seemoresz: 50px;
	--hbhwidth_top: 30px;
	--hbhwidth_left: 30px;
	--hbhwidth_right: 30px;
	--hbhwidth_bot: 30px;
	--hbhwidth_ave: 30px;
	--hbhwidth_min: 10px;
	--hbhwidth_max: calc(var(--hbhwidth_ave) * 5);
	--highlightcolor: rgb(var(--time));
	--vh: 1vh;
	--boxsdstyle: 	0 0 0px 1px black,  
					0 0 0px 3px white, 
					0 0 0px 4px black;
	--boxsdstyle_inset: 0 0 0px 1px black inset,  
						0 0 0px 3px white inset, 
						0 0 0px 4px black inset;
	--lifontsz: 15px;
	--pad_btn: 10px;
	--colortheme: rgb(61, 235, 221);
	--colortheme_rgb: 61, 235, 221;
	--scrlbrwd: 0px;
	/* sorting color */
	--mo_gra: 255, 0, 255;
	--illus: 0, 204, 102;
	--spcl: 255, 69, 0;
	--time: 34, 139, 131;
	--dg_pro: 0, 0, 255;
	--print: 255, 20, 147;
	/* */
	--borrad_ios: calc(var(--navsz) - var(--offsetborderstyle));
	--offsetborderstyle: 5px;
	/* border 3D animated color */
	--bot_color_be4: var(--colortheme_rgb);
	--left_color_be4: var(--colortheme_rgb);
	--right_color_be4: var(--colortheme_rgb);
	--top_color_be4: var(--colortheme_rgb);
	
	--bot_color_aft: var(--colortheme_rgb);
	--left_color_aft: var(--colortheme_rgb);
	--right_color_aft: var(--colortheme_rgb);
	--top_color_aft: var(--colortheme_rgb);

	--border_img: url('thumbnail/border/1.jpg');
	--lr_alpha: 0.6;
	--top_alpha: 0.8;
	--bot_alpha: 0.4;
	/* resume */
	--pad_welcome: 10px;
	--lr_home: 0px;
	--tb_home: 0px;
	--h_home: 0px;
	--lr_cmore: 0px;
	--tb_cmore: 0px;
	--h_cmore: 0px;
	--lr_for: 0px;
	--tb_for: 0px;
	--h_for: 0px;
	--lr_back: 0px;
	--tb_back: 0px;
	--h_back: 0px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: var(--lifontsz);
	font-family: Helvetica ,'Arial Narrow' , Arial, sans-serif;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.1em;
}

h2, h1 {
	font-family: 'Times New Roman', Times, serif;
}

body {
	overflow: hidden;
}

/* nav part */
nav {
	position: fixed;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(var(--vh) * 100);
	overflow: hidden;
}

nav ul#nav {
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto auto repeat(calc(var(--colmax) - 2), 1fr) auto auto;
	grid-template-rows: auto auto repeat(calc(var(--colmax) - 2), 1fr) auto auto;
	grid-column: 1;
	grid-row: 2;
	width: 100vw;
	height: calc(var(--vh) * 100); 
	transition: width 0.5s, height 0.5s;
	overflow: hidden;
	-webkit-box-shadow: var(--boxsdstyle_inset);
	box-shadow: var(--boxsdstyle_inset);
	background-color: black;
}

nav ul#nav.show {
	width: calc(100vw - var(--seemoresz));
	height: calc(calc(var(--vh) * 100) - var(--seemoresz));
}
/* nav item seemore */
.seemore {
	background-color: white;
	transition: width 0.5s, height 0.5s;
	display: flex;
	overflow: hidden;
	-webkit-box-shadow: var(--boxsdstyle_inset);
	box-shadow: var(--boxsdstyle_inset);
}

.seemore:nth-of-type(1) {
	height: 0;
}

.seemore:nth-of-type(2) {
	width: 0;
	flex-direction: column;
}

.seemore:nth-of-type(1).show {
	height: var(--seemoresz);
}

.seemore:nth-of-type(2).show {
	width: var(--seemoresz);
}

/*seemore button settings */
.seemore button {
	border-radius: calc(var(--seemoresz) / 2);
	flex-grow: 1;
	border: 0;
	width: inherit;
	height: inherit;
	-webkit-box-shadow: var(--boxsdstyle_inset);
	box-shadow: var(--boxsdstyle_inset);
	color: white;
	cursor: pointer;
}

.seemore button span {
	font-size: var(--lifontsz);
}

.seemore:nth-of-type(2) button span {
	writing-mode: vertical-rl;
}

/* nav item part */
li {
	list-style-type: none;
	background-color: var(--colortheme);
	transition: width 0.5s, height 0.5s;
	padding: var(--paddingli);
	word-break: break-word;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	cursor: pointer;
	-webkit-box-shadow: var(--boxsdstyle_inset);
	box-shadow: var(--boxsdstyle_inset);
}

li[onclick="nav_navigate(this)"] {
	overflow: hidden;
}

.highlightsort {
	-webkit-animation: highlightsort 0.25s; 
	-moz-animation:    highlightsort 0.25s; 
	-o-animation:      highlightsort 0.25s;
	animation:         highlightsort 0.25s; 
	-webkit-animation-iteration-count: 5;
	-moz-animation-iteration-count: 5;
	-o-animation-iteration-count: 5;
	animation-iteration-count: 5;
}

@keyframes highlightsort {
	0%, 49% {
		background-color: white;
		color: black;
	}
	50%, 100% {
		background-color: var(--highlightcolor);
		color: white;
	}
}

/* li text h2 */
li div.text h2 {
	font-size: var(--lifontsz);
}

/* li col and row */
li.col {
	height: var(--navsz);
	padding: 0 calc(var(--navsz) * 3 / 5) 0;
}

body.hasHover li.col:hover {
	height: var(--navszhover);
	padding: var(--paddingli);
}

li.row {
	width: var(--navsz);
	writing-mode: vertical-rl;
	padding: calc(var(--navsz) * 3 / 5) 0 calc(var(--navsz) * 3 / 5);
}

body.hasHover li.row:hover {
	width: var(--navszhover);
	writing-mode: horizontal-tb;
	padding: var(--paddingli);
}

li.left.row {
	border-radius: var(--borrad_ios) 0 0 var(--borrad_ios);
}

li.right.row {
	border-radius: 0 var(--borrad_ios) var(--borrad_ios) 0;
}

li.top.col {
	border-radius: var(--borrad_ios) var(--borrad_ios) 0 0;
}

li.bot.col {
	border-radius: 0 0 var(--borrad_ios) var(--borrad_ios);
}

body.hasHover li.col:hover, body.hasHover li.row:hover {
	flex-direction: column;
	justify-content: stretch;
	gap: var(--paddingli);
	border-radius: 0;
}
/* div text */
li > div.text {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

body.hasHover li:hover > div.text {
	flex-direction: column;
}

body.hasHover li.left:hover > div.text {
	align-items: flex-start;
	text-align: left;
}

body.hasHover li.right:hover > div.text {
	align-items: flex-end;
	text-align: right;
}

li > div.text > :not(:first-child) {
	display: none;
	font-size: 12px;
}

li > div.text > h2 > span:nth-child(1) {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.1em;
}

li > div.text > h2 > span:nth-child(2) {
	font-weight: 100;
	font-size: 12px;
	white-space: nowrap;
}

body.hasHover li:hover > div.text > * {
	display: block;
}

/* div text date */
li > div.text > .date {
	margin-bottom: 10px;
}

/* field */
span.field {
    display: inline-block;
	background-color: black;
	color: white;
	border-radius: 50%;
	padding: 3px 10px;
	font-size: 12px;
}

span.field.mo_gra {
	background-color: rgb(var(--mo_gra));
}

span.field.illus {
	background-color: rgb(var(--illus));
}

span.field.spcl {
	background-color: rgb(var(--spcl));
}

span.field.time {
	background-color: rgb(var(--time));
}

span.field.dg_pro {
	background-color: rgb(var(--dg_pro));
}

span.field.print {
	background-color: rgb(var(--print));
}

/* div hovercontent */
li > div.hovercontent {
	width: calc(100% - 10px);
	height: 100%;
	display: none;
	background-color: white;
	border-radius: 5px;
	-webkit-box-shadow: var(--boxsdstyle);
	box-shadow: var(--boxsdstyle);
	margin: 0 var(--offsetborderstyle) var(--offsetborderstyle) var(--offsetborderstyle);
}

body.hasHover li:hover > div.hovercontent {
	display: block;
}

li.left > div.hovercontent {
    direction: rtl;
}

li.col > div.hovercontent {
	overflow-y: auto;
	overflow-x: hidden;
}

li.row > div.hovercontent {
	overflow-x: auto;
	overflow-y: hidden;
}

li.col > div.hovercontent > img {
	width: 100%;
}

li.row > div.hovercontent > img {
	height: 100%;
}

/* li current and soon */
li.current > div.text > h2 > span:nth-child(1) {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

li.soon {
	background-color: yellow;
}

/* nav item button */
.btn {
	padding: 0;
	-webkit-box-shadow: var(--boxsdstyle_inset);
	box-shadow: var(--boxsdstyle_inset);
	z-index: 1;
}

.btn img {
	mix-blend-mode: multiply;
	padding: var(--pad_btn);
	width: var(--navsz);
	height: var(--navsz);
	object-fit: contain;
	transition: width 0.5s, height 0.5s, padding 0.5s;
}

.btn[onclick="seemore()"] {
	background-color: var(--highlightcolor);
}

div.btn {
	cursor: pointer;
	width: 50%;
	overflow: hidden;
	min-height: calc(30 * var(--vh));
}

div.btn img {
	padding: 10px;
	width: var(--navsz_sampl);
	height: var(--navsz_sampl);
}

div.btn p {
	margin: -8px 10px 10px 10px;
}

/* main part */
#main {
	z-index: 3;
	padding: 0;
	grid-column: 3 / var(--colmaxreal_1);
	grid-row: 3 / var(--colmaxreal_1);
	cursor: auto;
}

/* main part border 3D style */
#top_border, #bot_border, #left_border, #right_border {
	width: 0;
	height: 0;
	box-shadow: none;
	padding: 0;
	background-color: transparent;
	cursor: auto;
	background-repeat: no-repeat;
	justify-content: space-evenly;
}
/* bot top */
body.hasHover #top_border, body.hasHover #bot_border {
	transition: border-width 0.5s, background-size 0.5s, background-position 0.5s;
	grid-column: 2 / var(--colmaxreal_2);
	width: 100%;
	border-left: var(--hbhwidth_left) solid transparent;
	border-right: var(--hbhwidth_right) solid transparent;
	background-image: linear-gradient(90deg, black 1%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, black 99%), var(--border_img);
}

body.hasHover #top_border {
	border-top: var(--hbhwidth_top) solid rgba(var(--colortheme_rgb), var(--top_alpha));
	grid-row: 2;
	background-size: 100% var(--hbhwidth_top);
	background-position: 0px calc(0px - var(--hbhwidth_top));
}

body.hasHover #bot_border {
	border-bottom: var(--hbhwidth_bot) solid rgba(var(--colortheme_rgb), var(--bot_alpha));
	grid-row: var(--colmaxreal_1);
	background-size: 100% var(--hbhwidth_bot);
}
/* bot top */
/* left right */
body.hasHover #left_border, body.hasHover #right_border {
	transition: border-width 0.5s, background-size 0.5s, background-position 0.5s;
	height: 100%;
	grid-row: 2 / var(--colmaxreal_2);
	border-top: var(--hbhwidth_top) solid transparent;
	border-bottom: var(--hbhwidth_bot) solid transparent;
	background-image: linear-gradient(black 1%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, black 99%), var(--border_img);
	flex-direction: column;
}

body.hasHover #left_border {
	border-left: var(--hbhwidth_left) solid rgba(var(--colortheme_rgb), var(--lr_alpha));
	grid-column: 2;
	background-size: var(--hbhwidth_left) 100%;
	background-position: calc(0px - var(--hbhwidth_left)) 0px;
}

body.hasHover #right_border {
	border-right: var(--hbhwidth_right) solid rgba(var(--colortheme_rgb), var(--lr_alpha));
	grid-column: var(--colmaxreal_1);
	background-size: var(--hbhwidth_right) 100%;
}
/* left right */

.highlightsort_border_right {
	-webkit-animation: highlightsort_border_right 0.25s; 
	-moz-animation:    highlightsort_border_right 0.25s; 
	-o-animation:      highlightsort_border_right 0.25s;
	animation:         highlightsort_border_right 0.25s; 
	-webkit-animation-iteration-count: 5;
	-moz-animation-iteration-count: 5;
	-o-animation-iteration-count: 5;
	animation-iteration-count: 5;
}

.highlightsort_border_left {
	-webkit-animation: highlightsort_border_left 0.25s; 
	-moz-animation:    highlightsort_border_left 0.25s; 
	-o-animation:      highlightsort_border_left 0.25s;
	animation:         highlightsort_border_left 0.25s; 
	-webkit-animation-iteration-count: 5;
	-moz-animation-iteration-count: 5;
	-o-animation-iteration-count: 5;
	animation-iteration-count: 5;
}

.highlightsort_border_bot {
	-webkit-animation: highlightsort_border_bot 0.25s; 
	-moz-animation:    highlightsort_border_bot 0.25s; 
	-o-animation:      highlightsort_border_bot 0.25s;
	animation:         highlightsort_border_bot 0.25s; 
	-webkit-animation-iteration-count: 5;
	-moz-animation-iteration-count: 5;
	-o-animation-iteration-count: 5;
	animation-iteration-count: 5;
}

.highlightsort_border_top {
	-webkit-animation: highlightsort_border_top 0.25s; 
	-moz-animation:    highlightsort_border_top 0.25s; 
	-o-animation:      highlightsort_border_top 0.25s;
	animation:         highlightsort_border_top 0.25s; 
	-webkit-animation-iteration-count: 5;
	-moz-animation-iteration-count: 5;
	-o-animation-iteration-count: 5;
	animation-iteration-count: 5;
}

@keyframes highlightsort_border_bot {
	0%, 49% {
		border-bottom-color: rgba(var(--bot_color_be4), var(--bot_alpha));
	}
	50%, 100% {
		border-bottom-color: rgba(var(--bot_color_aft), var(--bot_alpha));
	}
}

@keyframes highlightsort_border_top {
	0%, 49% {
		border-top-color: rgba(var(--top_color_be4), var(--top_alpha));
	}
	50%, 100% {
		border-top-color: rgba(var(--top_color_aft), var(--top_alpha));
	}
}

@keyframes highlightsort_border_left {
	0%, 49% {
		border-left-color: rgba(var(--left_color_be4), var(--lr_alpha));
	}
	50%, 100% {
		border-left-color: rgba(var(--left_color_aft), var(--lr_alpha));
	}
}

@keyframes highlightsort_border_right {
	0%, 49% {
		border-right-color: rgba(var(--right_color_be4), var(--lr_alpha));
	}
	50%, 100% {
		border-right-color: rgba(var(--right_color_aft), var(--lr_alpha));
	}
}
/* corner decor */
#top_left, #top_right, #bot_left, #bot_right {
	box-shadow: none;
	padding: 0;
	display: none;
}

body.hasHover #top_left, body.hasHover #bot_right, body.hasHover .l_diag {
	display: block;
	background: 
		linear-gradient(to top right,
			transparent 0%,
			transparent calc(50% - 2px),
			black calc(50% - 1.9999px),
			black calc(50% - 1px),
			white calc(50% - 0.9999px),
			white 50%,
			white calc(50% + 0.9999px),
			black calc(50% + 1px),
			black calc(50% + 1.9999px),
			transparent calc(50% + 2px),
			transparent 100%);
}

body.hasHover #top_right, body.hasHover #bot_left, body.hasHover .r_diag {
	display: block;
	background: 
		linear-gradient(to top left,
			transparent 0%,
			transparent calc(50% - 2px),
			black calc(50% - 1.9999px),
			black calc(50% - 1px),
			white calc(50% - 0.9999px),
			white 50%,
			white calc(50% + 0.9999px),
			black calc(50% + 1px),
			black calc(50% + 1.9999px),
			transparent calc(50% + 2px),
			transparent 100%);
}

body.hasHover #top_left {
	grid-column: 2;
	grid-row: 2;
}

body.hasHover #top_right {
	grid-column: var(--colmaxreal_1);
	grid-row: 2;
}

body.hasHover #bot_left {
	grid-column: 2;
	grid-row: var(--colmaxreal_1);
}

body.hasHover #bot_right {
	grid-column: var(--colmaxreal_1);
	grid-row: var(--colmaxreal_1);
}

/* stroke 3D */
body.hasHover #top_border .line_3d {
	top: calc(0px - calc(calc(var(--hbhwidth_top) * 1.2) / 2));
	height: calc(var(--hbhwidth_top) + var(--navsz));
	transition: height 0.5s, top 0.5s, width 0.5s;
}

body.hasHover #bot_border .line_3d {
	bottom: calc(0px - calc(calc(var(--hbhwidth_bot) * 1.2) / 2));
	height: calc(var(--hbhwidth_bot) + var(--navsz));
	transition: height 0.5s, bottom 0.5s, width 0.5s;
}

body.hasHover #left_border .line_3d {
	left: calc(0px - calc(calc(var(--hbhwidth_left) * 1.2) / 2));
	width: calc(var(--hbhwidth_left) + var(--navsz));
	transition: height 0.5s, left 0.5s, width 0.5s;
}

body.hasHover #right_border .line_3d {
	right: calc(0px - calc(calc(var(--hbhwidth_right) * 1.2) / 2));
	width: calc(var(--hbhwidth_right) + var(--navsz));
	transition: height 0.5s, right 0.5s, width 0.5s;
}

body.hasHover .line_3d {
	position: relative;
	cursor: none;
}

body.hasHover .line_3d.side_left {
	width: calc(var(--hbhwidth_left) * 0.7);
}

body.hasHover .line_3d.side_right {
	width: calc(var(--hbhwidth_right) * 0.7);
}

body.hasHover .line_3d.side_top {
	height: calc(var(--hbhwidth_top) * 0.7);
}

body.hasHover .line_3d.side_bot {
	height: calc(var(--hbhwidth_bot) * 0.7);
}

/*

body.hasHover #main {
	border-bottom: var(--hbhwidth_bot) solid rgba(var(--colortheme_rgb), var(--bot_alpha));
    border-left: var(--hbhwidth_left) solid rgba(var(--colortheme_rgb), var(--lr_alpha));
    border-right: var(--hbhwidth_right) solid rgba(var(--colortheme_rgb), var(--lr_alpha));
	border-top: var(--hbhwidth_top) solid rgba(var(--colortheme_rgb), var(--top_alpha));
	transition: border-width 0.5s;
	background-color: black;
}

.highlightsort_border {
	-webkit-animation: highlightsort_border 0.25s; 
	-moz-animation:    highlightsort_border 0.25s; 
	-o-animation:      highlightsort_border 0.25s;
	animation:         highlightsort_border 0.25s; 
	-webkit-animation-iteration-count: 5;
	-moz-animation-iteration-count: 5;
	-o-animation-iteration-count: 5;
	animation-iteration-count: 5;
}

@keyframes highlightsort_border {
	0%, 49% {
		border-bottom-color: rgba(var(--bot_color_be4), var(--bot_alpha));
		border-left-color: rgba(var(--left_color_be4), var(--lr_alpha));
		border-right-color: rgba(var(--right_color_be4), var(--lr_alpha));
		border-top-color: rgba(var(--top_color_be4), var(--top_alpha));
	}
	50%, 100% {
		border-bottom-color: rgba(var(--bot_color_aft), var(--bot_alpha));
		border-left-color: rgba(var(--left_color_aft), var(--lr_alpha));
		border-right-color: rgba(var(--right_color_aft), var(--lr_alpha));
		border-top-color: rgba(var(--top_color_aft), var(--top_alpha));
	}
}
*/
/* */
#main > section {
	height:100%;
	width:100%;
}

body.hasHover #main > section {
	-webkit-box-shadow: var(--boxsdstyle);
	box-shadow: var(--boxsdstyle);
}

/* label hover toggle */

#main label#tglnav {
	position: absolute;
	bottom: 0;
	right: var(--scrlbrwd);
	z-index: 3;
	margin: 5px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label#tglnav input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

label#tglnav div {
	padding: 10px 15px 10px;
	background-color: var(--colortheme);
	border-radius: 50px;
	font-weight: bold;
	font-size: var(--lifontsz);
	-webkit-box-shadow: var(--boxsdstyle_inset);
	box-shadow: var(--boxsdstyle_inset);
}

/* main section */

#main section#welcome {
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 2;
	display: block;
	padding: var(--pad_welcome);
	background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.475) 100%);
	background-color: rgb(255, 255, 255);
	overflow: auto;
}

#main section#welcome.close{
	display: none;
}

#main section#iframe {
	display: flex;
	flex-direction: row;
}

#main section#iframe iframe {
	display: block;
	background-color: black;
	border: none;
	height:100%;
	width:100%;
	transition: width 1s;
}

#main section#iframe iframe.hide{
	width: 0;
}

/* resume */
#instruction {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

tbody {
	vertical-align: top;
}

td {
	padding-bottom: 10px;
	padding-right: 10px;
}

tr:last-child > td {
	padding-bottom: 0;
}

td:first-child {
	word-break: keep-all;
}

a {
	color: rgb(var(--time));
}

@media screen and (max-width: 500px), (max-height: 500px) {
	:root {
		--hbhwidth_max: calc(var(--hbhwidth_ave) * 2);
		--navsz_sampl: 35px;
		--lifontsz: 12px;
		--seemoresz: 40px;
	}
	
	h1 {
		font-size: 1.5rem;
	}

	li > div.text > h2 > span:nth-child(1) {
		font-size: 1em;
	}
}

.home_ani {
	-webkit-animation: home_ani 0.8s linear forwards; 
	-moz-animation:    home_ani 0.8s linear forwards; 
	-o-animation:      home_ani 0.8s linear forwards;
	animation: home_ani 0.8s linear forwards;
}

.cmore_ani {
	-webkit-animation: cmore_ani 0.8s linear forwards; 
	-moz-animation:    cmore_ani 0.8s linear forwards; 
	-o-animation:      cmore_ani 0.8s linear forwards;
	animation: cmore_ani 0.8s linear forwards;
}

.for_ani {
	-webkit-animation: for_ani 0.8s linear forwards; 
	-moz-animation:    for_ani 0.8s linear forwards; 
	-o-animation:      for_ani 0.8s linear forwards;
	animation: for_ani 0.8s linear forwards;
}

.back_ani {
	-webkit-animation: back_ani 0.8s linear forwards; 
	-moz-animation:    back_ani 0.8s linear forwards; 
	-o-animation:      back_ani 0.8s linear forwards;
	animation: back_ani 0.8s linear forwards;
}

@keyframes home_ani {
	0% {
		transform: translate(0,0);
		height: var(--h_home);
	}
	80% {
		transform: translate(var(--lr_home), var(--tb_home));
		width: var(--navsz);
		height: var(--navsz);
	}
	100% {
		transform: translate(var(--lr_home), var(--tb_home));
		width: 0;
		height: 0;
	}
}

@keyframes cmore_ani {
	0% {
		transform: translate(0,0);
		height: var(--h_cmore);
	}
	80% {
		transform: translate(var(--lr_cmore), var(--tb_cmore));
		width: var(--navsz);
		height: var(--navsz);
	}
	100% {
		transform: translate(var(--lr_cmore), var(--tb_cmore));
		width: 0;
		height: 0;
	}
}

@keyframes for_ani {
	0% {
		transform: translate(0,0);
		height: var(--h_for);
	}
	80% {
		transform: translate(var(--lr_for), var(--tb_for));
		width: var(--navsz);
		height: var(--navsz);
	}
	100% {
		transform: translate(var(--lr_for), var(--tb_for));
		width: 0;
		height: 0;
	}
}

@keyframes back_ani {
	0% {
		transform: translate(0,0);
		height: var(--h_back);
	}
	80% {
		transform: translate(var(--lr_back), var(--tb_back));
		width: var(--navsz);
		height: var(--navsz);
	}
	100% {
		transform: translate(var(--lr_back), var(--tb_back));
		width: 0;
		height: 0;
	}
}

/* decoration */
.horizontal {
	background-image: 	linear-gradient(rgba(255, 255, 255, 0) 0%, 
										rgba(255, 255, 255, 0) 10%, 
										rgba(255, 255, 255, 0.6) 45%, 
										rgba(255, 255, 255, 0.6) 55%, 
										rgba(255, 255, 255, 0) 90%, 
										rgba(255, 255, 255, 0) 100%);
}

.vertical {
	background-image: 	linear-gradient(90deg,
										rgba(255, 255, 255, 0) 0%, 
										rgba(255, 255, 255, 0) 10%, 
										rgba(255, 255, 255, 0.6) 45%, 
										rgba(255, 255, 255, 0.6) 55%, 
										rgba(255, 255, 255, 0) 90%, 
										rgba(255, 255, 255, 0) 100%);
}

.horizontal_ani::after, .vertical_ani::after {
	opacity: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-20deg);
	width: 150px;
	height: 150px;
	pointer-events: none;
}

.horizontal_ani::after {
	height: 200%;
	top: -50%;
	background-image: linear-gradient( 	90deg,	
										rgba(255, 255, 255, 0) 0%, 
										rgba(255, 255, 255, 0) 10%, 
										rgba(255, 255, 255, 1) 30%, 
										rgba(255, 255, 255, 1) 70%, 
										rgba(255, 255, 255, 0) 90%, 
										rgba(255, 255, 255, 0) 100%);
}

@keyframes horizontal_ani {
	0% {
		left: 0;
		opacity: 1;
	}
	100% {
		left: 100%;
		opacity: 1;
	}
}

.vertical_ani::after {
	width: 200%;
	left: -50%;
	background-image: linear-gradient( 		
										rgba(255, 255, 255, 0) 0%, 
										rgba(255, 255, 255, 0) 10%, 
										rgba(255, 255, 255, 1) 30%, 
										rgba(255, 255, 255, 1) 60%, 
										rgba(255, 255, 255, 0) 100%);
}

@keyframes vertical_ani {
	0% {
		top: 0;
		opacity: 1;
	}
	100% {
		top: 100%;
		opacity: 1;
	}
}

.horizontal_ani.forward::after {
	-webkit-animation: horizontal_ani 0.2s; 
	-moz-animation:    horizontal_ani 0.2s; 
	-o-animation:      horizontal_ani 0.2s;
	animation: horizontal_ani 0.2s;
}

.vertical_ani.forward::after {
	-webkit-animation: vertical_ani 0.2s; 
	-moz-animation:    vertical_ani 0.2s; 
	-o-animation:      vertical_ani 0.2s;
	animation: vertical_ani 0.2s;
}

.horizontal_ani.reverse::after {
	-webkit-animation: horizontal_ani 0.2s reverse; 
	-moz-animation:    horizontal_ani 0.2s reverse; 
	-o-animation:      horizontal_ani 0.2s reverse;
	animation: horizontal_ani 0.2s reverse;
}

.vertical_ani.reverse::after {
	-webkit-animation: vertical_ani 0.2s reverse; 
	-moz-animation:    vertical_ani 0.2s reverse; 
	-o-animation:      vertical_ani 0.2s reverse;
	animation: vertical_ani 0.2s reverse;
}
