* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

:root {
	--minsz: 70vw;
	--maxsz: 1600px;
}

body {
	width: 100%;
	padding: 20px;
	text-align: center;
}

img, .item {
	margin: 30px auto;
	display: block;
	width: var(--minsz);
	max-width: var(--maxsz);
	height: auto;
	object-fit: contain;
}

.pdf {
	height: calc(calc(var(--minsz) / 1) * 1.4142);
	max-height: calc(calc(var(--maxsz) / 1) * 1.4142);
}

.vimeosqr {
	height: var(--minsz);
	max-height: var(--maxsz);
}

.vimeo169 {
	height: calc(calc(var(--minsz) / 16) * 9);
	max-height: calc(calc(var(--maxsz) / 16) * 9);
}