@font-face {
	font-family: BaoAnhVjpPro;
	src: url(3/BaoAnhVjpPro-Regular.otf);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

h1, h2, h3, address, p {
	font-size: inherit;
}

:root {
	--minsz: calc(100vw - calc(var(--gapsz) * 2));
	--maxsz: 1600px;
	--minsz169: calc(100vw - calc(var(--gapsz) * 2));
	--gapsz: 150px;
}

body {
	width: 100%;
	padding-top: calc(var(--gapsz) / 3);
	text-align: center;
	background-color: blueviolet;
}

.wrapper {
	width: 100vw;
}

img, .item, .column, p {
	margin: calc(var(--gapsz) / 3) auto;
	display: block;
	width: var(--minsz169);
	max-width: var(--maxsz);
	height: auto;
	object-fit: contain;
	text-align: justify;
}

.sqr {
	width: var(--minsz);
	height: var(--minsz);
	max-height: var(--maxsz);
}

.s169 {
	height: calc(calc(var(--minsz169) / 16) * 9);
	max-height: calc(calc(var(--maxsz) / 16) * 9);
}

.twocol, .threecol {
	display: grid;
	gap: calc(var(--gapsz) / 3);
}

.twocol {
	grid-template-columns: 1fr 1fr;
}

.threecol {
	grid-template-columns: 1fr 1fr 1fr;
}

.colchild {
	width: 100%;
	margin: 0;
}

@media screen and (max-width: 800px) {
	:root {
		--gapsz: 80px;
	}
}

@media screen and (max-width: 500px) {
	:root {
		--gapsz: 10px;
	}

	* {
		font-size: 12px;
	}
}

@media screen and (max-height: 500px) {
	* {
		font-size: 12px;
	}
}

/* orientation */
@media screen and (orientation:landscape) {
	:root {
		--minsz: calc(100vh - calc(var(--gapsz) / 3));
	}
}

@media screen and (orientation:portrait) {
	:root {
		--minsz: calc(100vw - calc(var(--gapsz) * 2));
	}
}